
.container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.container h1{
    margin: unset;
    padding: 0.5em 0.5em;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: var(--background-light);
    gap: 0.5em;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 0.4em;
}
.nav>a{
    background-color: var(--primary-color);
    color: black;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 0.4em;

}

.main{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em;
}
.table{
    flex: 2;
    background-color: var(--background-light);
    min-height: 300px;
    border-radius: 0.4em;
}
.stats{
    flex: 1;
    background-color: var(--background-light);
    border-radius: 0.4em;
}
.stats>*{
    padding: 1em;
}