.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.9px);
    display: block;
}

.dialog{
    background: var(--background-light);
    padding: 2.5em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow-y: auto;
    max-height: 80vh;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-light);

}
.dialog>*{
    margin: unset;
}

.exit{
    all: unset;
    background-color: var(--background-light);
    color: var(--primary-color);
    margin-inline-start: auto;
    font-weight: bold;
}
.exit:hover{
    color: var(--secondary-color);
}
.userinfo{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.divide{
    width: 60%;
    align-self: center;
}