

.contactuscard{
    margin-top: 40px;
    background-color: var(--background-light);
    padding: 1em 2em;
    border-radius: 0.5em;
    /* min-width: 350px; */
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 0.8em;

}
.contactuscard input:not([type="checkbox"]):not([type="radio"]){
    display: block;
    width: 100%;
}
textarea{
    display: block;
    width: 100%;
}
.contactuscard h3{
    margin-bottom: 0;
    text-align: right;
    font-size: small;
    text-transform: uppercase;
}