.tile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.buttons{
    /* padding: 0.5em; */
    margin-left: 1em;
    margin-top: 1em;
}
/* button{
    background-color: var(--tertiary-color);
}
button:hover{
    background-color: #ff6f61;
} */
table{
    border: 1px solid var(--background-color);
    margin: 20px;
    min-width: 85%;
    /* max-width: 100%; */
    text-align: left;
    border-collapse: collapse;
    overflow-x: hidden;
}

th{
    padding: 0.5em;
    cursor: pointer;
    /* border: gray; */
}
tr{
    border: 1px solid var(--background-color);
}
td{
    padding: 0.5em;
    cursor: cell;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchbox{
    max-width: 150px;
}
.green{
    color: greenyellow;
}
/* .green:hover{
    color: red;
} */
.red{
    color: red;
}
/* .red:hover{
    color: greenyellow;
} */