.tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons .button {
    background-color: var(--primary-color);
    color: black;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 0.4em;
    font-size: small;
    align-self: flex-start;
    margin: 1.5em;
}

.buttons .button:hover {
    background-color: var(--secondary-color);
}

.buttons #addpost {
    background-color: var(--background-light);
    outline: none;
    border: none;
    margin-inline-start: auto;
    margin-top: 1em;
    margin-right: 1em;
    color: var(--primary-color);
    font-weight: bold;
    font-size: x-large;
}
buttons #addpost:hover{
    color: gold;
}

table {
    border: 1px solid var(--background-color);
    margin: 20px;
    min-width: 85%;
    /* max-width: 100%; */
    text-align: left;
    border-collapse: collapse;
    overflow-x: hidden;
}

th {
    padding: 0.5em;
    cursor: pointer;
    /* border: gray; */
}

tr {
    border: 1px solid var(--background-color);
}

td {
    padding: 0.5em;
    cursor: cell;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchbox {
    max-width: 150px;
}

.green {
    color: greenyellow;
}

/* .green:hover{
    color: red;
} */
.red {
    color: red;
}
.postdetails:hover{

    background-color: var(--background-supertransparent);
}