:root{
  --primary-color: #61dafb;
  --secondary-color: rgba(97,218,251,0.95);
  --tertiary-color: #45b8d0;
  --background-light: #3a3f4b;
  --background-color: #282c32;
  --background-transparent:rgba(40,44,50,0.85);
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #282c34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: white;
}

button{
  background-color: var(--primary-color);
  color: black;
  padding: 0.5em 1em;
  font-weight: bold;
  border-radius: 0.4em;
  font-size: small;
}
button:hover{
  background-color: var(--secondary-color);
}
.accent{
  color: var(--primary-color);
}